<%= form_for(@short_link, :format => :js,remote: true) do |form| %>
  <% if @short_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_link.errors.count, "error") %> prohibited this short_link from being saved:</h2>

      <ul>
      <% @short_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <!--%= link_to image_tag("logo.png"), root_path %-->
  </div>
  <div class="field">
    <%= form.text_field :main_url, :class => "form-control", :placeholder => "Paste a link to shorten" %>
  </div>
  <div class="actions create_link">
    <%= form.submit 'Click Me', :class => "btn btn-primary"%>
  </div>
<% end %>
