<%= form_with(model: short_link, local: true) do |form| %>
  <% if short_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(short_link.errors.count, "error") %> prohibited this short_link from being saved:</h2>

      <ul>
      <% short_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :main_url %>
    <%= form.text_field :main_url %>
  </div>

  <div class="field">
    <%= form.label :sanitize_url %>
    <%= form.text_field :sanitize_url %>
  </div>

  <div class="field">
    <%= form.label :hit_count %>
    <%= form.text_field :hit_count %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :expire_date %>
    <%= form.date_select :expire_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
