<div class="container">
  <br>
  <div>
  <%= render 'new_link', remote: true%>



</div>
<br>

    <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Main url</th>
        <th>Slug</th>
        <th>Hit count</th>
        <th>Expire date</th>
      </tr>
    </thead>

    <tbody>
      <% @short_links.each do |short_link| %>
        <tr>
          <td><%= short_link.main_url %></td>
          <td><%= short_link.slug %></td>
          <td><%= short_link.hit_count %></td>
          <td><%= short_link.expire_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
