<div class="container">

  <div style='float:right'>
  <%= link_to 'Reload', root_path, :class => "btn btn-primary " %>
  </div>
  <br>

  <div>
  <%= render 'new_link', remote: true%>



</div>
<br>


    <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Main url</th>
        <th>Slug</th>
        <th>Hit count</th>
        <th>Expire date</th>
      </tr>
    </thead>

    <tbody>
      <% @short_links.each do |short_link| %>
        <tr>
          <td><%= short_link.main_url %></td>
          <td><%= link_to("#{ENV['HOST_URL']}/short_links/fetch/#{short_link.slug}",
            controller:'short_links', action:'fetch', slug:short_link.slug)
            %>
          </td>
          <td><%= short_link.hit_count %></td>
          <td><%= short_link.expire_date.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
